body{
    background-color: black;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
.head{
    line-height: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    text-align: right;
}
hr{
    background-color: rgb(97,92,92);
    height: 2px;
}
.box1 {
      display: flex;
      gap: 40px;
}
.a4 {
    width: 210mm;
    min-height: 297mm;
    margin: auto;
    background: rgb(15, 14, 14);
    padding: 20mm;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.box1-1,.box1-2 {
    flex: 1;
}
h1,li{
    color: rgb(110, 112, 114);
}