
body{
    background-image: url(backgound.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main{
    display: flex;
    gap: 500px;
}
.right{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.content{
    display: contents;
    text-align: right;
    background-color: yellowgreen;
}
img{
    width: 100px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
}