
body{
    background-image: url(backgound.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: monospace;
}
.main{
    display: flex;
    gap: 600px;
}
.right{
  display: flex;
  flex-wrap:wrap;  width: 48%;
  height: 10%;
  margin-right: 0;
  padding-right: 0%;
  gap: 20%;
}
.content{
    width: 30%;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 14px 28px rgba(59, 58, 58, 0.16),0 10px 10px rgba(0,0,0,0.22);
    transition: .2s;
    background: rgba(51, 74, 26, 0.454);
    
}
img{
    width: 250px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
}