body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.main{
    gap: 2%;
    display: flex;
    margin-right: 0;
    padding-right: 0;
}
.left{
    padding-top: 200px;
    padding-bottom: 200px;
    border-radius: 20%;
    background-color: rgba(32, 130, 147, 0.607);
    line-height: 20px;
}
.contents{
    align-items: center;
    text-align: center;
    font-size: 100px;
    line-height: 1px;
    display: grid;
    gap: 90px;
    padding-left: 300px;
}
.cont{
    width: 90%;
    border-radius: 10%;
    background-color: rgba(7, 32, 35, 0.436);
}
.right{
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 50px;
}
.gallary{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}
.box{
    border-radius: 10%;
    width: 800px;
    background-color: rgba(32, 130, 147, 0.607);
}
img{
    margin-top: 50px;
    margin-left: 100px;
    width: 500px;
    height: 600px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10%;
}
h1{
    font-size: 100px;
    text-align: center;
}
.name{
    text-align: center;
    font-size: 100px;
    margin-bottom: 0;
    color: rgba(5, 10, 12, 0.849);
}
#name{
    padding-left: 10px;
    margin-left: 500px;
    padding-right: 550px;
    text-align: center;
    font-size: 500px;
}